<div class="row">
  <div class="col-12">
    <h1>Dashboard</h1>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4" *ngIf="eventLength !== null && eventLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-calendar mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Events</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{eventLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="galleryLength !== null && galleryLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-picture-o mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Galleries</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{galleryLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="collaborationLength !== null && collaborationLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-briefcase mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Collaborations</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{collaborationLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="recipeLength !== null && recipeLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-cutlery mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Recipes</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{recipeLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="userHeightLength !== null && userHeightLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-child fa-4x mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">User Heights</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{userHeightLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="userWeightLength !== null && userWeightLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-male fa-4x mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">User Weights</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{userWeightLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="userLength !== null && userLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-users fa-4x mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Users</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{userLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="operationClaimLength !== null && operationClaimLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-thumb-tack fa-4x mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">Operation Claims</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{operationClaimLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4" *ngIf="userOperationClaimLength !== null && userOperationClaimLength !== undefined">
    <div class="card mb-4 progress-banner">
        <div class="card-body justify-content-between d-flex flex-row align-items-center">
            <div class="d-inline-block">
                <i class="fa fa-address-book fa-4x mr-2 text-white align-text-bottom d-inline-block"></i>
            </div>
            <p class="lead text-white">User Operation Claims</p>
            <div>
                <div role="progressbar" class="mb-2 progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="5" aria-valuemax="12" data-show-percent="false">
                  <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">{{userOperationClaimLength}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
